#######################################################################################
# A default configuration that will be loaded for all jupyter books
# See the documentation for help and more options: 
# https://jupyterbook.org/customize/config.html

# see also  https://jupyterbook.org/en/stable/customize/config.html

#######################################################################################
# Book settings
title                       : Invitation to Computabitlity  # The title of the book. Will be placed in the left navbar.
author                      : Lawrence S. Moss  # The author of the book
copyright                   : "2023"  # Copyright year to be placed in the footer
logo                        : logo.png #was logo.png  # A path to the book logo

# Force re-execution of notebooks on each build.
# See https://jupyterbook.org/content/execute.html
execute:
  execute_notebooks: off # this had been 'force', and I also tried 'auto'


sphinx:
  config:
     myst_enable_extensions: ["dollarmath", "amsmath", "colon_fence", "deflist"]
     mathjax_path: https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
     mathjax3_config:
        tex:
           macros:
             "N": "\\mathbb{N}"
             "set": ["\\left\\{#1\\right\\}", 1]
             "one": ["\\mathtt{1}"]
             "hash": ["\\mathtt{\\#}"]
             "diag": ["\\mathtt{diag}"]
             "self": ["\\mathtt{self}"]
             "semantics": ["[\\![#1]\\!]", 1]
             "phifn": ["\\varphi"]
             "Rone": ["R1"]
             "words": ["\\mbox{words}"]
             ## "Rone": ["\\mbox{register $1$}"]
     latex_elements:
        preamble: |
          \newcommand\Model{\mathcal{M}}
          \newcommand\sset[1]{\left\{#1\right\}}
          \newcommand{\bmat}{\left[\begin{array}}
          \newcommand{\emat}{\end{array}\right]}
  extra_extensions:
    - sphinx_exercise
    - sphinx_proof

# Define the name of the latex output file for PDF builds
latex:
  latex_documents:
    targetname: book.tex
  latex_engine    : pdflatex
  use_jupyterbook_latex    : true  # 

# Add a bibtex file so that we can create citations
bibtex_bibfiles:
  - references.bib



# Information about where the book exists on the web
repository:
  url: https://github.com/lmoss/onesharp  # Online location of your book
  path_to_book: docs  # Optional path to your book, relative to the repository root
  branch: main  # Which branch of the repository should be used when creating links (optional)

# Add GitHub buttons to your book
# See https://jupyterbook.org/customize/config.html#add-a-link-to-your-repository
html:
  use_issues_button: true
  use_repository_button: true

parse:
  myst_enable_extensions:
    # don't forget to list any other extensions you want enabled,
    # including those that are enabled by default!
    - deflist
    - amsmath

  extra_extensions:
    - sphinx_proof
    - sphinx_examples
